<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>        
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" %>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
